<h1>To-Dos</h1>

<ul>
  {{#each todos}}
  <li data-id="{{id}}"><input class="complete" type="checkbox" name="isCompleted" value="true" {{#if isCompleted}}
      checked{{/if}}>
    {{title}} [<a href="#" class="destroy">X</a>]</li>
  {{else}}
  <li>Nothing to do.</li>
  {{/each}}
</ul>

<form id="create-todo">
  <input id="title" type="text" name="title" placeholder="Title" autofocus>
  <button>Create To-Do</button>
</form>

<script src="/assets/js/todos.js"></script>